In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6],[6,7,8]],columns = ["A",'B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  6  7  8

In [3]:
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  6  7  8

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [7]:
df.describe()

              A         B         C
count  3.000000  3.000000  3.000000
mean   3.666667  4.666667  5.666667
std    2.516611  2.516611  2.516611
min    1.000000  2.000000  3.000000
25%    2.500000  3.500000  4.500000
50%    4.000000  5.000000  6.000000
75%    5.000000  6.000000  7.000000
max    6.000000  7.000000  8.000000

In [8]:
 df.nunique()

A    3
B    3
C    3
dtype: int64

In [9]:
df['A'].nunique()

3

In [10]:
c_path = "/content/Coffee_domestic_consumption.csv"
df = pd.read_csv(c_path)
df

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000
5,Indonesia,Robusta/Arabica,74520000,76800000,79140000,81540000,84000000,86580000,89160000,91920000,...,220020000,234000000,255000000,265020000,273000000,279000000,285000000,288000000,288360000,4920480000
6,Madagascar,Robusta,21000000,18000000,21000000,21600000,9999960,10020000,10020000,10020000,...,27000000,25800000,24600000,23400000,22200000,21600000,21900000,22500000,22500000,588705960
7,Malawi,Arabica,120000,120000,120000,120000,120000,120000,120000,120000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,2340000
8,Papua New Guinea,Arabica/Robusta,180000,180000,180000,120000,120000,120000,120000,120000,...,74160,102660,122340,115440,108000,120000,120000,120000,120000,3608400
9,Paraguay,Arabica,900000,900000,900000,1200000,1200000,1200000,1200000,1200000,...,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,35100000
10,Peru,Arabica,11400000,11400000,12000000,12000000,12000000,12000000,12000000,12000000,...,15000000,15000000,15000000,15000000,15000000,15000000,15000000,15000000,15000000,402000000
11,Rwanda,Arabica,60000,60000,60000,60000,60000,60000,60000,180000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,2139960
12,Timor-Leste,Arabica,0,0,0,0,0,0,0,0,...,29400,29400,29400,29400,29400,29400,29400,29400,29400,294000
13,Zimbabwe,Arabica,480000,480000,480000,499980,499980,396000,240000,240000,...,240000,240000,240000,240000,240000,240000,240000,240000,240000,8595960
14,Congo,Robusta,180000,160020,160020,180000,180000,180000,180000,180000,...,180000,180000,180000,180000,180000,180000,180000,180000,180000,5360040
15,Cuba,Arabica,12780000,12780000,11700000,11646000,11640000,11640000,11340000,11700000,...,13200000,13200000,13200000,13200000,13200000,13200000,13200000,13200000,12960000,384006000
16,Dominican Republic,Arabica/Robusta,19200000,19200000,19200000,19200000,19800000,21000000,19500000,19500000,...,22680000,22680000,22999980,23280000,23280000,23400000,23400000,23400000,22620000,642823380
17,Haiti,Arabica,13200000,19800000,19800000,19800000,19800000,19800000,19800000,19800000,...,20400000,20400000,20400000,20400000,20400000,20400000,20400000,20700000,20700000,600600000
18,Philippines,Robusta/Arabica,43200000,45000000,45000000,46200000,47400000,48600000,49860000,51180000,...,130500000,139500000,153000000,168000000,180000000,181800000,190800000,198000000,195000000,2807280000
19,Tanzania,Arabica/Robusta,240000,210000,1152000,1050000,1050000,816000,996000,1020000,...,3537000,4302000,4408020,4603020,5523000,5478000,5500020,5520000,5700000,76425060
20,Zambia,Arabica,90000,90000,85920,60000,90000,36000,60000,36000,...,0,0,0,0,0,0,0,0,0,991920
21,Cameroon,Robusta/Arabica,4998000,4999980,4999980,6000000,6000000,6000000,6000000,6000000,...,4201020,4303980,4408980,4519020,4560000,4620000,4680000,4680000,4620000,143450940
22,Central African Republic,Robusta,1680000,1680000,1680000,1500000,900000,600000,600000,600000,...,799980,1000020,1200000,1200000,1200000,1200000,1200000,1200000,1200000,24794400
23,Colombia,Arabica,74100000,76140000,78180000,80340000,82500000,81540000,80580000,79680000,...,86103900,90854520,97021200,99927060,103222380,104186484,107596260,107484600,121486440,2536776384
24,Costa Rica,Arabica,22500000,22500000,22500000,22500000,22500000,22500000,22500000,22500000,...,22853280,25385820,20103600,22844520,26929260,19767420,21200040,21900000,21120000,665335200
25,Cte d'Ivoire,Robusta,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,...,19020000,19020000,19020000,19020000,19020000,19020000,19020000,19020000,19020000,410260140
26,Democratic Republic of Congo,Robusta/Arabica,12000000,12000000,12000000,12000000,12000000,12000000,12000000,12000000,...,12000000,12000000,12000000,12000000,12000000,12000000,12000000,12000000,11880000,359880000
27,El Salvador,Arabica,10800000,10800000,13800000,13800000,13800000,16200000,13800000,11500020,...,16404000,16596000,16500000,16800000,17100000,17520000,18000000,18000000,17520000,417242040
28,Equatorial Guinea,Robusta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Ethiopia,Arabica,72000000,75840000,79860000,84120000,88560000,93300000,98220000,103440000,...,194100000,197940000,201900000,205980000,210060000,214260000,218580000,221100000,226860000,4536540000
30,Gabon,Robusta,102000,60000,48000,48000,60000,48000,49980,48000,...,61920,58020,34980,31020,30000,30000,30000,30000,30000,1123140
31,Ghana,Robusta,1020000,1020000,1020000,1020000,1680000,1680000,180000,180000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,9970800
32,Guatemala,Arabica/Robusta,18000000,18000000,18000000,18600000,18600000,18600000,18000000,18000000,...,21000000,21600000,22200000,22800000,23400000,23400000,23700000,23700000,23580000,590880000
33,Guinea,Robusta,1500000,1500000,3750000,1980000,3000000,3000000,3000000,3000000,...,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,86730000
34,Guyana,Robusta,0,0,0,0,0,0,0,0,...,516000,522000,528000,534000,540000,540000,540000,540000,540000,9203040
35,Honduras,Arabica,11289240,15426000,14400000,13800000,15180000,9660000,10075440,9660000,...,20400000,20700000,21000000,21300000,21900000,22200000,22500000,22500000,21000000,471850680
36,India,Robusta/Arabica,54180000,55000020,55020000,49999980,50100000,50220000,50280000,50340000,...,79500000,82500000,84000000,85800000,87000000,86400000,88200000,88500000,87000000,2093460000
37,Jamaica,Arabica,420000,660000,360000,576000,900000,900000,1080000,1200000,...,540000,540000,540000,540000,540000,540000,540000,540000,540000,18688020
38,Kenya,Arabica,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,...,3000000,3000000,3300000,3300000,3600000,3600000,3900000,4200000,4290000,95190000
39,Lao People's Democratic Republic,Robusta,0,0,0,0,0,0,0,0,...,9000000,9000000,9000000,9000000,9000000,9000000,9300000,9300000,9420000,157980000
40,Liberia,Robusta,180000,180000,180000,300000,300000,300000,300000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,8640000
41,Mexico,Arabica/Robusta,82440000,72000000,78000000,64200000,61200000,70740000,74100000,72060000,...,141240000,141240000,139260000,140820000,139740000,141600000,144000000,147000000,145500000,3189660000
42,Nepal,Arabica,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Nicaragua,Arabica,2040000,8280000,3936000,6534000,5376000,6690000,5722200,7380000,...,12315660,12471840,12573660,12704520,12836760,13003680,13080000,13200000,12600000,299700300
44,Nigeria,Robusta,1650000,2145000,2145000,2400000,2400000,2400000,2400000,2400000,...,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,70740000
45,Panama,Arabica,3780000,4020000,4020000,4020000,4600020,4600020,4600020,4836900,...,4020000,4020000,4020000,4020000,4020000,4020000,4020000,4020000,4020000,122916960
46,Sierra Leone,Robusta,540000,540000,540000,300000,300000,480000,480000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,10080000
47,Sri Lanka,Robusta/Arabica,4000020,4020000,1680000,1200000,1200000,1200000,1200000,1200000,...,2100000,2100000,2100000,2100000,2100000,2100000,2100000,2100000,2100000,58300020
48,Thailand,Robusta/Arabica,11280000,13200000,13980000,15000000,16980000,25020000,19980000,23400000,...,66000000,67800000,72000000,75000000,78000000,81000000,82500000,84000000,84000000,1248600000
49,Togo,Robusta,60000,60000,60000,60000,60000,60000,60000,60000,...,12600,14520,14280,11700,13200,15240,15240,15240,15600,2167620
50,Trinidad & Tobago,Robusta,480000,690000,600000,600000,840000,840000,840000,840000,...,600000,600000,600000,600000,600000,600000,600000,600000,600000,21090000
51,Uganda,Robusta/Arabica,4200000,4500000,4500000,4500000,4800000,4800000,4800000,6071400,...,12600000,12960000,13248000,13752000,14040000,14400000,14688000,15000000,15240000,284816400
52,Venezuela,Arabica,46943400,48928800,50998200,53155800,55404000,57747600,60190800,62736599,...,99000000,99000000,99000000,99000000,99000000,99000000,96000000,93000000,76500000,2386067999
53,Viet Nam,Robusta/Arabica,9000000,13800000,15000000,16020000,16020000,16910700,17850960,18843480,...,99000000,109500000,120000000,132000000,138000000,144000000,150000000,156000000,159000000,1920928320
54,Yemen,Arabica,0,0,0,0,0,0,0,0,...,7800000,7800000,7800000,7500000,6900000,6000000,5400000,3900000,3840000,121620000

In [11]:
df.describe()

,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
count,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,...,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01
mean,2.128278e+07,2.206701e+07,2.285613e+07,2.301590e+07,2.330200e+07,2.465735e+07,2.565010e+07,2.647750e+07,2.739992e+07,2.808131e+07,...,4.711907e+07,4.871183e+07,4.944423e+07,5.069858e+07,5.165367e+07,5.272819e+07,5.420271e+07,5.481235e+07,5.452530e+07,1.112487e+09
std,6.810062e+07,7.032839e+07,7.363077e+07,7.511769e+07,7.679945e+07,8.321743e+07,9.039443e+07,9.438905e+07,9.995154e+07,1.040782e+08,...,1.634943e+08,1.687185e+08,1.676074e+08,1.701179e+08,1.719262e+08,1.777393e+08,1.840522e+08,1.858924e+08,1.844917e+08,3.834783e+09
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.800000e+05,1.800000e+05,1.800000e+05,2.400000e+05,2.400000e+05,2.400000e+05,1.800000e+05,1.800000e+05,2.100000e+05,2.100000e+05,...,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,9.586920e+06
50%,2.040000e+06,3.000000e+06,3.000000e+06,2.400000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,4.020000e+06,4.302000e+06,4.408020e+06,4.519020e+06,4.560000e+06,4.620000e+06,4.680000e+06,4.200000e+06,4.290000e+06,1.216200e+08
75%,1.299000e+07,1.671300e+07,1.650000e+07,1.731000e+07,1.650000e+07,1.775535e+07,1.792548e+07,1.800000e+07,1.800000e+07,1.590000e+07,...,2.070000e+07,2.115000e+07,2.070000e+07,2.205000e+07,2.205000e+07,2.100000e+07,2.155002e+07,2.220000e+07,2.106000e+07,5.897930e+08
max,4.920000e+08,5.100000e+08,5.340000e+08,5.460000e+08,5.580000e+08,6.060000e+08,6.600000e+08,6.900000e+08,7.320000e+08,7.620000e+08,...,1.183200e+09,1.219800e+09,1.205100e+09,1.219980e+09,1.230480e+09,1.273500e+09,1.319820e+09,1.332000e+09,1.320000e+09,2.782470e+10

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     55 non-null     object
 1   Coffee type                 55 non-null     object
 2   1990/91                     55 non-null     int64
 3   1991/92                     55 non-null     int64
 4   1992/93                     55 non-null     int64
 5   1993/94                     55 non-null     int64
 6   1994/95                     55 non-null     int64
 7   1995/96                     55 non-null     int64
 8   1996/97                     55 non-null     int64
 9   1997/98                     55 non-null     int64
 10  1998/99                     55 non-null     int64
 11  1999/00                     55 non-null     int64
 12  2000/01                     55 non-null     int64
 13  2001/02                     55 non-null     int64
 14  2002/03                     55 non-null     int64
 15  2003/04                     55 non-null     int64
 16  2004/05                     55 non-null     int64
 17  2005/06                     55 non-null     int64
 18  2006/07                     55 non-null     int64
 19  2007/08                     55 non-null     int64
 20  2008/09                     55 non-null     int64
 21  2009/10                     55 non-null     int64
 22  2010/11                     55 non-null     int64
 23  2011/12                     55 non-null     int64
 24  2012/13                     55 non-null     int64
 25  2013/14                     55 non-null     int64
 26  2014/15                     55 non-null     int64
 27  2015/16                     55 non-null     int64
 28  2016/17                     55 non-null     int64
 29  2017/18                     55 non-null     int64
 30  2018/19                     55 non-null     int64
 31  2019/20                     55 non-null     int64
 32  Total_domestic_consumption  55 non-null     int64
dtypes: int64(31), object(2)
memory usage: 14.3+ KB

In [13]:
df.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [14]:
df.tail()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
50,Trinidad & Tobago,Robusta,480000,690000,600000,600000,840000,840000,840000,840000,...,600000,600000,600000,600000,600000,600000,600000,600000,600000,21090000
51,Uganda,Robusta/Arabica,4200000,4500000,4500000,4500000,4800000,4800000,4800000,6071400,...,12600000,12960000,13248000,13752000,14040000,14400000,14688000,15000000,15240000,284816400
52,Venezuela,Arabica,46943400,48928800,50998200,53155800,55404000,57747600,60190800,62736599,...,99000000,99000000,99000000,99000000,99000000,99000000,96000000,93000000,76500000,2386067999
53,Viet Nam,Robusta/Arabica,9000000,13800000,15000000,16020000,16020000,16910700,17850960,18843480,...,99000000,109500000,120000000,132000000,138000000,144000000,150000000,156000000,159000000,1920928320
54,Yemen,Arabica,0,0,0,0,0,0,0,0,...,7800000,7800000,7800000,7500000,6900000,6000000,5400000,3900000,3840000,121620000

In [15]:
coffee = df.copy()

In [16]:
coffee

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000
5,Indonesia,Robusta/Arabica,74520000,76800000,79140000,81540000,84000000,86580000,89160000,91920000,...,220020000,234000000,255000000,265020000,273000000,279000000,285000000,288000000,288360000,4920480000
6,Madagascar,Robusta,21000000,18000000,21000000,21600000,9999960,10020000,10020000,10020000,...,27000000,25800000,24600000,23400000,22200000,21600000,21900000,22500000,22500000,588705960
7,Malawi,Arabica,120000,120000,120000,120000,120000,120000,120000,120000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,2340000
8,Papua New Guinea,Arabica/Robusta,180000,180000,180000,120000,120000,120000,120000,120000,...,74160,102660,122340,115440,108000,120000,120000,120000,120000,3608400
9,Paraguay,Arabica,900000,900000,900000,1200000,1200000,1200000,1200000,1200000,...,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,35100000
10,Peru,Arabica,11400000,11400000,12000000,12000000,12000000,12000000,12000000,12000000,...,15000000,15000000,15000000,15000000,15000000,15000000,15000000,15000000,15000000,402000000
11,Rwanda,Arabica,60000,60000,60000,60000,60000,60000,60000,180000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,2139960
12,Timor-Leste,Arabica,0,0,0,0,0,0,0,0,...,29400,29400,29400,29400,29400,29400,29400,29400,29400,294000
13,Zimbabwe,Arabica,480000,480000,480000,499980,499980,396000,240000,240000,...,240000,240000,240000,240000,240000,240000,240000,240000,240000,8595960
14,Congo,Robusta,180000,160020,160020,180000,180000,180000,180000,180000,...,180000,180000,180000,180000,180000,180000,180000,180000,180000,5360040
15,Cuba,Arabica,12780000,12780000,11700000,11646000,11640000,11640000,11340000,11700000,...,13200000,13200000,13200000,13200000,13200000,13200000,13200000,13200000,12960000,384006000
16,Dominican Republic,Arabica/Robusta,19200000,19200000,19200000,19200000,19800000,21000000,19500000,19500000,...,22680000,22680000,22999980,23280000,23280000,23400000,23400000,23400000,22620000,642823380
17,Haiti,Arabica,13200000,19800000,19800000,19800000,19800000,19800000,19800000,19800000,...,20400000,20400000,20400000,20400000,20400000,20400000,20400000,20700000,20700000,600600000
18,Philippines,Robusta/Arabica,43200000,45000000,45000000,46200000,47400000,48600000,49860000,51180000,...,130500000,139500000,153000000,168000000,180000000,181800000,190800000,198000000,195000000,2807280000
19,Tanzania,Arabica/Robusta,240000,210000,1152000,1050000,1050000,816000,996000,1020000,...,3537000,4302000,4408020,4603020,5523000,5478000,5500020,5520000,5700000,76425060
20,Zambia,Arabica,90000,90000,85920,60000,90000,36000,60000,36000,...,0,0,0,0,0,0,0,0,0,991920
21,Cameroon,Robusta/Arabica,4998000,4999980,4999980,6000000,6000000,6000000,6000000,6000000,...,4201020,4303980,4408980,4519020,4560000,4620000,4680000,4680000,4620000,143450940
22,Central African Republic,Robusta,1680000,1680000,1680000,1500000,900000,600000,600000,600000,...,799980,1000020,1200000,1200000,1200000,1200000,1200000,1200000,1200000,24794400
23,Colombia,Arabica,74100000,76140000,78180000,80340000,82500000,81540000,80580000,79680000,...,86103900,90854520,97021200,99927060,103222380,104186484,107596260,107484600,121486440,2536776384
24,Costa Rica,Arabica,22500000,22500000,22500000,22500000,22500000,22500000,22500000,22500000,...,22853280,25385820,20103600,22844520,26929260,19767420,21200040,21900000,21120000,665335200
25,Cte d'Ivoire,Robusta,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,...,19020000,19020000,19020000,19020000,19020000,19020000,19020000,19020000,19020000,410260140
26,Democratic Republic of Congo,Robusta/Arabica,12000000,12000000,12000000,12000000,12000000,12000000,12000000,12000000,...,12000000,12000000,12000000,12000000,12000000,12000000,12000000,12000000,11880000,359880000
27,El Salvador,Arabica,10800000,10800000,13800000,13800000,13800000,16200000,13800000,11500020,...,16404000,16596000,16500000,16800000,17100000,17520000,18000000,18000000,17520000,417242040
28,Equatorial Guinea,Robusta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Ethiopia,Arabica,72000000,75840000,79860000,84120000,88560000,93300000,98220000,103440000,...,194100000,197940000,201900000,205980000,210060000,214260000,218580000,221100000,226860000,4536540000
30,Gabon,Robusta,102000,60000,48000,48000,60000,48000,49980,48000,...,61920,58020,34980,31020,30000,30000,30000,30000,30000,1123140
31,Ghana,Robusta,1020000,1020000,1020000,1020000,1680000,1680000,180000,180000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,9970800
32,Guatemala,Arabica/Robusta,18000000,18000000,18000000,18600000,18600000,18600000,18000000,18000000,...,21000000,21600000,22200000,22800000,23400000,23400000,23700000,23700000,23580000,590880000
33,Guinea,Robusta,1500000,1500000,3750000,1980000,3000000,3000000,3000000,3000000,...,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,86730000
34,Guyana,Robusta,0,0,0,0,0,0,0,0,...,516000,522000,528000,534000,540000,540000,540000,540000,540000,9203040
35,Honduras,Arabica,11289240,15426000,14400000,13800000,15180000,9660000,10075440,9660000,...,20400000,20700000,21000000,21300000,21900000,22200000,22500000,22500000,21000000,471850680
36,India,Robusta/Arabica,54180000,55000020,55020000,49999980,50100000,50220000,50280000,50340000,...,79500000,82500000,84000000,85800000,87000000,86400000,88200000,88500000,87000000,2093460000
37,Jamaica,Arabica,420000,660000,360000,576000,900000,900000,1080000,1200000,...,540000,540000,540000,540000,540000,540000,540000,540000,540000,18688020
38,Kenya,Arabica,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,...,3000000,3000000,3300000,3300000,3600000,3600000,3900000,4200000,4290000,95190000
39,Lao People's Democratic Republic,Robusta,0,0,0,0,0,0,0,0,...,9000000,9000000,9000000,9000000,9000000,9000000,9300000,9300000,9420000,157980000
40,Liberia,Robusta,180000,180000,180000,300000,300000,300000,300000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,8640000
41,Mexico,Arabica/Robusta,82440000,72000000,78000000,64200000,61200000,70740000,74100000,72060000,...,141240000,141240000,139260000,140820000,139740000,141600000,144000000,147000000,145500000,3189660000
42,Nepal,Arabica,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Nicaragua,Arabica,2040000,8280000,3936000,6534000,5376000,6690000,5722200,7380000,...,12315660,12471840,12573660,12704520,12836760,13003680,13080000,13200000,12600000,299700300
44,Nigeria,Robusta,1650000,2145000,2145000,2400000,2400000,2400000,2400000,2400000,...,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,70740000
45,Panama,Arabica,3780000,4020000,4020000,4020000,4600020,4600020,4600020,4836900,...,4020000,4020000,4020000,4020000,4020000,4020000,4020000,4020000,4020000,122916960
46,Sierra Leone,Robusta,540000,540000,540000,300000,300000,480000,480000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,10080000
47,Sri Lanka,Robusta/Arabica,4000020,4020000,1680000,1200000,1200000,1200000,1200000,1200000,...,2100000,2100000,2100000,2100000,2100000,2100000,2100000,2100000,2100000,58300020
48,Thailand,Robusta/Arabica,11280000,13200000,13980000,15000000,16980000,25020000,19980000,23400000,...,66000000,67800000,72000000,75000000,78000000,81000000,82500000,84000000,84000000,1248600000
49,Togo,Robusta,60000,60000,60000,60000,60000,60000,60000,60000,...,12600,14520,14280,11700,13200,15240,15240,15240,15600,2167620
50,Trinidad & Tobago,Robusta,480000,690000,600000,600000,840000,840000,840000,840000,...,600000,600000,600000,600000,600000,600000,600000,600000,600000,21090000
51,Uganda,Robusta/Arabica,4200000,4500000,4500000,4500000,4800000,4800000,4800000,6071400,...,12600000,12960000,13248000,13752000,14040000,14400000,14688000,15000000,15240000,284816400
52,Venezuela,Arabica,46943400,48928800,50998200,53155800,55404000,57747600,60190800,62736599,...,99000000,99000000,99000000,99000000,99000000,99000000,96000000,93000000,76500000,2386067999
53,Viet Nam,Robusta/Arabica,9000000,13800000,15000000,16020000,16020000,16910700,17850960,18843480,...,99000000,109500000,120000000,132000000,138000000,144000000,150000000,156000000,159000000,1920928320
54,Yemen,Arabica,0,0,0,0,0,0,0,0,...,7800000,7800000,7800000,7500000,6900000,6000000,5400000,3900000,3840000,121620000

In [17]:
coffee.sample(10, random_state = 2)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
32,Guatemala,Arabica/Robusta,18000000,18000000,18000000,18600000,18600000,18600000,18000000,18000000,...,21000000,21600000,22200000,22800000,23400000,23400000,23700000,23700000,23580000,590880000
27,El Salvador,Arabica,10800000,10800000,13800000,13800000,13800000,16200000,13800000,11500020,...,16404000,16596000,16500000,16800000,17100000,17520000,18000000,18000000,17520000,417242040
44,Nigeria,Robusta,1650000,2145000,2145000,2400000,2400000,2400000,2400000,2400000,...,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,70740000
42,Nepal,Arabica,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Mexico,Arabica/Robusta,82440000,72000000,78000000,64200000,61200000,70740000,74100000,72060000,...,141240000,141240000,139260000,140820000,139740000,141600000,144000000,147000000,145500000,3189660000
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
28,Equatorial Guinea,Robusta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
46,Sierra Leone,Robusta,540000,540000,540000,300000,300000,480000,480000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,10080000
13,Zimbabwe,Arabica,480000,480000,480000,499980,499980,396000,240000,240000,...,240000,240000,240000,240000,240000,240000,240000,240000,240000,8595960

In [18]:
# to access specific values: loc and iloc
# loc: to filter the df wrt to rows and cols

coffee.loc[2]

Country                                Brazil
Coffee type                   Arabica/Robusta
1990/91                             492000000
1991/92                             510000000
1992/93                             534000000
1993/94                             546000000
1994/95                             558000000
1995/96                             606000000
1996/97                             660000000
1997/98                             690000000
1998/99                             732000000
1999/00                             762000000
2000/01                             792000000
2001/02                             815400000
2002/03                             825000000
2003/04                             852000000
2004/05                             896760000
2005/06                             932280000
2006/07                             979860000
2007/08                            1026600000
2008/09                            1059600000
2009/10                            1103400000
2010/11                            1147920000
2011/12                            1183200000
2012/13                            1219800000
2013/14                            1205100000
2014/15                            1219980000
2015/16                            1230480000
2016/17                            1273500000
2017/18                            1319820000
2018/19                            1332000000
2019/20                            1320000000
Total_domestic_consumption        27824700000
Name: 2, dtype: object

In [19]:
coffee.loc[[2,3]]

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020

In [20]:
coffee.loc[0:3]

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020

In [21]:
coffee.loc[5:8, ["Country", "1990/91"]]

            Country   1990/91
5         Indonesia  74520000
6        Madagascar  21000000
7            Malawi    120000
8  Papua New Guinea    180000

In [22]:
from pprint import pprint


pprint(coffee.columns)

Index(['Country', 'Coffee type', '1990/91', '1991/92', '1992/93', '1993/94',
       '1994/95', '1995/96', '1996/97', '1997/98', '1998/99', '1999/00',
       '2000/01', '2001/02', '2002/03', '2003/04', '2004/05', '2005/06',
       '2006/07', '2007/08', '2008/09', '2009/10', '2010/11', '2011/12',
       '2012/13', '2013/14', '2014/15', '2015/16', '2016/17', '2017/18',
       '2018/19', '2019/20', 'Total_domestic_consumption'],
      dtype='object')

In [23]:
coffee.loc[2,"Country"]

'Brazil'

In [24]:
coffee.head(5)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [25]:
coffee.iloc[2:5]

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [26]:
coffee.loc[2:4]

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [27]:
coff = coffee.copy()

In [28]:
coff.index = coff.Country
coff

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
Country,,,,,,,,,,,,,,,,,,,,,
Angola,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
Bolivia (Plurinational State of),Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
Brazil,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
Burundi,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
Ecuador,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000
Indonesia,Indonesia,Robusta/Arabica,74520000,76800000,79140000,81540000,84000000,86580000,89160000,91920000,...,220020000,234000000,255000000,265020000,273000000,279000000,285000000,288000000,288360000,4920480000
Madagascar,Madagascar,Robusta,21000000,18000000,21000000,21600000,9999960,10020000,10020000,10020000,...,27000000,25800000,24600000,23400000,22200000,21600000,21900000,22500000,22500000,588705960
Malawi,Malawi,Arabica,120000,120000,120000,120000,120000,120000,120000,120000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,2340000
Papua New Guinea,Papua New Guinea,Arabica/Robusta,180000,180000,180000,120000,120000,120000,120000,120000,...,74160,102660,122340,115440,108000,120000,120000,120000,120000,3608400
Paraguay,Paraguay,Arabica,900000,900000,900000,1200000,1200000,1200000,1200000,1200000,...,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,1200000,35100000
Peru,Peru,Arabica,11400000,11400000,12000000,12000000,12000000,12000000,12000000,12000000,...,15000000,15000000,15000000,15000000,15000000,15000000,15000000,15000000,15000000,402000000
Rwanda,Rwanda,Arabica,60000,60000,60000,60000,60000,60000,60000,180000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,2139960
Timor-Leste,Timor-Leste,Arabica,0,0,0,0,0,0,0,0,...,29400,29400,29400,29400,29400,29400,29400,29400,29400,294000
Zimbabwe,Zimbabwe,Arabica,480000,480000,480000,499980,499980,396000,240000,240000,...,240000,240000,240000,240000,240000,240000,240000,240000,240000,8595960
Congo,Congo,Robusta,180000,160020,160020,180000,180000,180000,180000,180000,...,180000,180000,180000,180000,180000,180000,180000,180000,180000,5360040
Cuba,Cuba,Arabica,12780000,12780000,11700000,11646000,11640000,11640000,11340000,11700000,...,13200000,13200000,13200000,13200000,13200000,13200000,13200000,13200000,12960000,384006000
Dominican Republic,Dominican Republic,Arabica/Robusta,19200000,19200000,19200000,19200000,19800000,21000000,19500000,19500000,...,22680000,22680000,22999980,23280000,23280000,23400000,23400000,23400000,22620000,642823380
Haiti,Haiti,Arabica,13200000,19800000,19800000,19800000,19800000,19800000,19800000,19800000,...,20400000,20400000,20400000,20400000,20400000,20400000,20400000,20700000,20700000,600600000
Philippines,Philippines,Robusta/Arabica,43200000,45000000,45000000,46200000,47400000,48600000,49860000,51180000,...,130500000,139500000,153000000,168000000,180000000,181800000,190800000,198000000,195000000,2807280000
Tanzania,Tanzania,Arabica/Robusta,240000,210000,1152000,1050000,1050000,816000,996000,1020000,...,3537000,4302000,4408020,4603020,5523000,5478000,5500020,5520000,5700000,76425060
Zambia,Zambia,Arabica,90000,90000,85920,60000,90000,36000,60000,36000,...,0,0,0,0,0,0,0,0,0,991920
Cameroon,Cameroon,Robusta/Arabica,4998000,4999980,4999980,6000000,6000000,6000000,6000000,6000000,...,4201020,4303980,4408980,4519020,4560000,4620000,4680000,4680000,4620000,143450940
Central African Republic,Central African Republic,Robusta,1680000,1680000,1680000,1500000,900000,600000,600000,600000,...,799980,1000020,1200000,1200000,1200000,1200000,1200000,1200000,1200000,24794400
Colombia,Colombia,Arabica,74100000,76140000,78180000,80340000,82500000,81540000,80580000,79680000,...,86103900,90854520,97021200,99927060,103222380,104186484,107596260,107484600,121486440,2536776384
Costa Rica,Costa Rica,Arabica,22500000,22500000,22500000,22500000,22500000,22500000,22500000,22500000,...,22853280,25385820,20103600,22844520,26929260,19767420,21200040,21900000,21120000,665335200
Cte d'Ivoire,Cte d'Ivoire,Robusta,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,...,19020000,19020000,19020000,19020000,19020000,19020000,19020000,19020000,19020000,410260140
Democratic Republic of Congo,Democratic Republic of Congo,Robusta/Arabica,12000000,12000000,12000000,12000000,12000000,12000000,12000000,12000000,...,12000000,12000000,12000000,12000000,12000000,12000000,12000000,12000000,11880000,359880000
El Salvador,El Salvador,Arabica,10800000,10800000,13800000,13800000,13800000,16200000,13800000,11500020,...,16404000,16596000,16500000,16800000,17100000,17520000,18000000,18000000,17520000,417242040
Equatorial Guinea,Equatorial Guinea,Robusta,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ethiopia,Ethiopia,Arabica,72000000,75840000,79860000,84120000,88560000,93300000,98220000,103440000,...,194100000,197940000,201900000,205980000,210060000,214260000,218580000,221100000,226860000,4536540000
Gabon,Gabon,Robusta,102000,60000,48000,48000,60000,48000,49980,48000,...,61920,58020,34980,31020,30000,30000,30000,30000,30000,1123140
Ghana,Ghana,Robusta,1020000,1020000,1020000,1020000,1680000,1680000,180000,180000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,9970800
Guatemala,Guatemala,Arabica/Robusta,18000000,18000000,18000000,18600000,18600000,18600000,18000000,18000000,...,21000000,21600000,22200000,22800000,23400000,23400000,23700000,23700000,23580000,590880000
Guinea,Guinea,Robusta,1500000,1500000,3750000,1980000,3000000,3000000,3000000,3000000,...,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,86730000
Guyana,Guyana,Robusta,0,0,0,0,0,0,0,0,...,516000,522000,528000,534000,540000,540000,540000,540000,540000,9203040
Honduras,Honduras,Arabica,11289240,15426000,14400000,13800000,15180000,9660000,10075440,9660000,...,20400000,20700000,21000000,21300000,21900000,22200000,22500000,22500000,21000000,471850680
India,India,Robusta/Arabica,54180000,55000020,55020000,49999980,50100000,50220000,50280000,50340000,...,79500000,82500000,84000000,85800000,87000000,86400000,88200000,88500000,87000000,2093460000
Jamaica,Jamaica,Arabica,420000,660000,360000,576000,900000,900000,1080000,1200000,...,540000,540000,540000,540000,540000,540000,540000,540000,540000,18688020
Kenya,Kenya,Arabica,3000000,3000000,3000000,3000000,3000000,3000000,3000000,3000000,...,3000000,3000000,3300000,3300000,3600000,3600000,3900000,4200000,4290000,95190000
Lao People's Democratic Republic,Lao People's Democratic Republic,Robusta,0,0,0,0,0,0,0,0,...,9000000,9000000,9000000,9000000,9000000,9000000,9300000,9300000,9420000,157980000
Liberia,Liberia,Robusta,180000,180000,180000,300000,300000,300000,300000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,8640000
Mexico,Mexico,Arabica/Robusta,82440000,72000000,78000000,64200000,61200000,70740000,74100000,72060000,...,141240000,141240000,139260000,140820000,139740000,141600000,144000000,147000000,145500000,3189660000
Nepal,Nepal,Arabica,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Nicaragua,Nicaragua,Arabica,2040000,8280000,3936000,6534000,5376000,6690000,5722200,7380000,...,12315660,12471840,12573660,12704520,12836760,13003680,13080000,13200000,12600000,299700300
Nigeria,Nigeria,Robusta,1650000,2145000,2145000,2400000,2400000,2400000,2400000,2400000,...,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,2400000,70740000
Panama,Panama,Arabica,3780000,4020000,4020000,4020000,4600020,4600020,4600020,4836900,...,4020000,4020000,4020000,4020000,4020000,4020000,4020000,4020000,4020000,122916960
Sierra Leone,Sierra Leone,Robusta,540000,540000,540000,300000,300000,480000,480000,300000,...,300000,300000,300000,300000,300000,300000,300000,300000,300000,10080000
Sri Lanka,Sri Lanka,Robusta/Arabica,4000020,4020000,1680000,1200000,1200000,1200000,1200000,1200000,...,2100000,2100000,2100000,2100000,2100000,2100000,2100000,2100000,2100000,58300020
Thailand,Thailand,Robusta/Arabica,11280000,13200000,13980000,15000000,16980000,25020000,19980000,23400000,...,66000000,67800000,72000000,75000000,78000000,81000000,82500000,84000000,84000000,1248600000
Togo,Togo,Robusta,60000,60000,60000,60000,60000,60000,60000,60000,...,12600,14520,14280,11700,13200,15240,15240,15240,15600,2167620
Trinidad & Tobago,Trinidad & Tobago,Robusta,480000,690000,600000,600000,840000,840000,840000,840000,...,600000,600000,600000,600000,600000,600000,600000,600000,600000,21090000
Uganda,Uganda,Robusta/Arabica,4200000,4500000,4500000,4500000,4800000,4800000,4800000,6071400,...,12600000,12960000,13248000,13752000,14040000,14400000,14688000,15000000,15240000,284816400
Venezuela,Venezuela,Arabica,46943400,48928800,50998200,53155800,55404000,57747600,60190800,62736599,...,99000000,99000000,99000000,99000000,99000000,99000000,96000000,93000000,76500000,2386067999
Viet Nam,Viet Nam,Robusta/Arabica,9000000,13800000,15000000,16020000,16020000,16910700,17850960,18843480,...,99000000,109500000,120000000,132000000,138000000,144000000,150000000,156000000,159000000,1920928320
Yemen,Yemen,Arabica,0,0,0,0,0,0,0,0,...,7800000,7800000,7800000,7500000,6900000,6000000,5400000,3900000,3840000,121620000

In [29]:
coff.loc["Brazil"]

Country                                Brazil
Coffee type                   Arabica/Robusta
1990/91                             492000000
1991/92                             510000000
1992/93                             534000000
1993/94                             546000000
1994/95                             558000000
1995/96                             606000000
1996/97                             660000000
1997/98                             690000000
1998/99                             732000000
1999/00                             762000000
2000/01                             792000000
2001/02                             815400000
2002/03                             825000000
2003/04                             852000000
2004/05                             896760000
2005/06                             932280000
2006/07                             979860000
2007/08                            1026600000
2008/09                            1059600000
2009/10                            1103400000
2010/11                            1147920000
2011/12                            1183200000
2012/13                            1219800000
2013/14                            1205100000
2014/15                            1219980000
2015/16                            1230480000
2016/17                            1273500000
2017/18                            1319820000
2018/19                            1332000000
2019/20                            1320000000
Total_domestic_consumption        27824700000
Name: Brazil, dtype: object

In [30]:
coff.index = coff["Country"]

In [31]:
coff.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
Country,,,,,,,,,,,,,,,,,,,,,
Angola,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
Bolivia (Plurinational State of),Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
Brazil,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
Burundi,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
Ecuador,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [32]:
coff.loc["Ecuador"]

Country                               Ecuador
Coffee type                   Arabica/Robusta
1990/91                              21000000
1991/92                              21000000
1992/93                              21000000
1993/94                              21000000
1994/95                              21000000
1995/96                              21000000
1996/97                              18000000
1997/98                              18000000
1998/99                              18000000
1999/00                              13800000
2000/01                              12000000
2001/02                              12000000
2002/03                               9000000
2003/04                               9000000
2004/05                               9000000
2005/06                               9000000
2006/07                               9000000
2007/08                               9000000
2008/09                               9000000
2009/10                               9000000
2010/11                               9000000
2011/12                               9000000
2012/13                               9000000
2013/14                               9300000
2014/15                               9300000
2015/16                               9300000
2016/17                               9300000
2017/18                               9300000
2018/19                               9300000
2019/20                               8940000
Total_domestic_consumption          381540000
Name: Ecuador, dtype: object

In [33]:
coff.loc["Ecuador":"Brazil"]

Empty DataFrame
Columns: [Country, Coffee type, 1990/91, 1991/92, 1992/93, 1993/94, 1994/95, 1995/96, 1996/97, 1997/98, 1998/99, 1999/00, 2000/01, 2001/02, 2002/03, 2003/04, 2004/05, 2005/06, 2006/07, 2007/08, 2008/09, 2009/10, 2010/11, 2011/12, 2012/13, 2013/14, 2014/15, 2015/16, 2016/17, 2017/18, 2018/19, 2019/20, Total_domestic_consumption]
Index: []

[0 rows x 33 columns]

In [34]:
coff.loc["Brazil", "Coffee type"] = "Bru"

In [35]:
# filtering data

In [36]:
ip = pd.read_csv("/content/Coffee_import.csv")
ip.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,87120000,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000
1,Belgium,0,0,0,0,0,0,0,0,0,...,349680000,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,0,1257900000
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,28920000,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23460000,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000

In [37]:
# filter the rows with the mask and display the result of Country
ip.loc[ip["1990"]>150000000 , "Country"]

10                      France
11                     Germany
15                       Italy
20                 Netherlands
26                       Spain
28                       Japan
33              United Kingdom
34    United States of America
Name: Country, dtype: object

In [38]:
ip[ip["1990"]>150000000][["Country"]]

                     Country
10                    France
11                   Germany
15                     Italy
20               Netherlands
26                     Spain
28                     Japan
33            United Kingdom
34  United States of America

In [39]:
ip["Buy_again"] = True

In [40]:
ip.head(7)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,Total_import,Buy_again
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000,True
1,Belgium,0,0,0,0,0,0,0,0,0,...,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000,True
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,1257900000,True
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000,True
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000,True
5,Cyprus,3000000,3240000,2460000,4620000,3120000,2640000,3120000,2460000,3000000,...,5040000,5640000,5640000,5340000,5580000,6000000,7980000,7980000,130380000,True
6,Czechia,39540000,31500000,28500000,30840000,33240000,33180000,31500000,33600000,45900000,...,67620000,71040000,109380000,124080000,106740000,90420000,114180000,96540000,1816020000,True

In [41]:
#ip[ip["Total_import"]<830800000]["Buy_again"] = False

In [42]:
ip.head(10)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,Total_import,Buy_again
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000,True
1,Belgium,0,0,0,0,0,0,0,0,0,...,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000,True
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,1257900000,True
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000,True
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000,True
5,Cyprus,3000000,3240000,2460000,4620000,3120000,2640000,3120000,2460000,3000000,...,5040000,5640000,5640000,5340000,5580000,6000000,7980000,7980000,130380000,True
6,Czechia,39540000,31500000,28500000,30840000,33240000,33180000,31500000,33600000,45900000,...,67620000,71040000,109380000,124080000,106740000,90420000,114180000,96540000,1816020000,True
7,Denmark,57540000,58980000,63720000,59640000,61980000,52620000,60360000,56940000,60840000,...,54780000,55260000,51180000,50460000,54360000,51120000,52080000,54480000,1741860000,True
8,Estonia,0,0,960000,3060000,4980000,6420000,7020000,8460000,8100000,...,9420000,9360000,7860000,7560000,8100000,7980000,8820000,8880000,268980000,True
9,Finland,65700000,61980000,63300000,78060000,81660000,46140000,59520000,71160000,70080000,...,74280000,76500000,72780000,79260000,83340000,81600000,77100000,90900000,2151840000,True

In [43]:
# replace the columm value based on the condition whlst adding a new column

In [44]:
import numpy as np

ip["Buy_again"] = np.where(ip["Total_import"]<830800000, False, True)

In [45]:
ip.head(10)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,Total_import,Buy_again
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000,True
1,Belgium,0,0,0,0,0,0,0,0,0,...,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000,True
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,1257900000,True
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000,False
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000,False
5,Cyprus,3000000,3240000,2460000,4620000,3120000,2640000,3120000,2460000,3000000,...,5040000,5640000,5640000,5340000,5580000,6000000,7980000,7980000,130380000,False
6,Czechia,39540000,31500000,28500000,30840000,33240000,33180000,31500000,33600000,45900000,...,67620000,71040000,109380000,124080000,106740000,90420000,114180000,96540000,1816020000,True
7,Denmark,57540000,58980000,63720000,59640000,61980000,52620000,60360000,56940000,60840000,...,54780000,55260000,51180000,50460000,54360000,51120000,52080000,54480000,1741860000,True
8,Estonia,0,0,960000,3060000,4980000,6420000,7020000,8460000,8100000,...,9420000,9360000,7860000,7560000,8100000,7980000,8820000,8880000,268980000,False
9,Finland,65700000,61980000,63300000,78060000,81660000,46140000,59520000,71160000,70080000,...,74280000,76500000,72780000,79260000,83340000,81600000,77100000,90900000,2151840000,True

In [46]:
ip.drop(columns = ["1990"], inplace = True)

In [47]:
ip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       35 non-null     object
 1   1991          35 non-null     int64
 2   1992          35 non-null     int64
 3   1993          35 non-null     int64
 4   1994          35 non-null     int64
 5   1995          35 non-null     int64
 6   1996          35 non-null     int64
 7   1997          35 non-null     int64
 8   1998          35 non-null     int64
 9   1999          35 non-null     int64
 10  2000          35 non-null     int64
 11  2001          35 non-null     int64
 12  2002          35 non-null     int64
 13  2003          35 non-null     int64
 14  2004          35 non-null     int64
 15  2005          35 non-null     int64
 16  2006          35 non-null     int64
 17  2007          35 non-null     int64
 18  2008          35 non-null     int64
 19  2009          35 non-null     int64
 20  2010          35 non-null     int64
 21  2011          35 non-null     int64
 22  2012          35 non-null     int64
 23  2013          35 non-null     int64
 24  2014          35 non-null     int64
 25  2015          35 non-null     int64
 26  2016          35 non-null     int64
 27  2017          35 non-null     int64
 28  2018          35 non-null     int64
 29  2019          35 non-null     int64
 30  Total_import  35 non-null     int64
 31  Buy_again     35 non-null     bool
dtypes: bool(1), int64(30), object(1)
memory usage: 8.6+ KB

In [48]:
ip["Avg_import"] = ip["Total_import"]/30

In [49]:
ip.head(10)

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,Total_import,Buy_again,Avg_import
0,Austria,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,90000000,...,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000,True,92192000.0
1,Belgium,0,0,0,0,0,0,0,0,180180000,...,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000,True,208018000.0
2,Belgium/Luxembourg,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,0,...,0,0,0,0,0,0,0,1257900000,True,41930000.0
3,Bulgaria,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,22020000,...,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000,False,27690000.0
4,Croatia,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,21120000,...,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000,False,20736000.0
5,Cyprus,3240000,2460000,4620000,3120000,2640000,3120000,2460000,3000000,3300000,...,5640000,5640000,5340000,5580000,6000000,7980000,7980000,130380000,False,4346000.0
6,Czechia,31500000,28500000,30840000,33240000,33180000,31500000,33600000,45900000,43680000,...,71040000,109380000,124080000,106740000,90420000,114180000,96540000,1816020000,True,60534000.0
7,Denmark,58980000,63720000,59640000,61980000,52620000,60360000,56940000,60840000,65640000,...,55260000,51180000,50460000,54360000,51120000,52080000,54480000,1741860000,True,58062000.0
8,Estonia,0,960000,3060000,4980000,6420000,7020000,8460000,8100000,7860000,...,9360000,7860000,7560000,8100000,7980000,8820000,8880000,268980000,False,8966000.0
9,Finland,61980000,63300000,78060000,81660000,46140000,59520000,71160000,70080000,72540000,...,76500000,72780000,79260000,83340000,81600000,77100000,90900000,2151840000,True,71728000.0

In [50]:
# renaming the column name of a dataframe:
ip = ip.rename(columns = {"Buy_again":"Repurchased"})
ip.head()

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,Total_import,Repurchased,Avg_import
0,Austria,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,90000000,...,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000,True,92192000.0
1,Belgium,0,0,0,0,0,0,0,0,180180000,...,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000,True,208018000.0
2,Belgium/Luxembourg,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,0,...,0,0,0,0,0,0,0,1257900000,True,41930000.0
3,Bulgaria,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,22020000,...,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000,False,27690000.0
4,Croatia,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,21120000,...,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000,False,20736000.0

In [51]:
ip[["Repurchased","Avg_import"]].head()

   Repurchased   Avg_import
0         True   92192000.0
1         True  208018000.0
2         True   41930000.0
3        False   27690000.0
4        False   20736000.0

In [52]:
# to save as csv:
ip.to_csv("./coffee_import_collab.csv")

In [53]:
ip.isna().sum()

Country         0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
Total_import    0
Repurchased     0
Avg_import      0
dtype: int64

In [54]:
ip.loc[[0,3,5,7,23,2,6,12,24,30],'2010'] = np.nan

In [55]:
ip.shape

(35, 33)

In [56]:
ip.isna()

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,Total_import,Repurchased,Avg_import
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [57]:
ip.isna().sum()

Country          0
1991             0
1992             0
1993             0
1994             0
1995             0
1996             0
1997             0
1998             0
1999             0
2000             0
2001             0
2002             0
2003             0
2004             0
2005             0
2006             0
2007             0
2008             0
2009             0
2010            10
2011             0
2012             0
2013             0
2014             0
2015             0
2016             0
2017             0
2018             0
2019             0
Total_import     0
Repurchased      0
Avg_import       0
dtype: int64

In [58]:
ip.fillna(ip['2010'].mean(), inplace =True)

In [59]:
ip["2010"].isna().sum()

np.int64(0)

In [60]:
ip.loc[[2,4,7,8,13,15,28], '2010'] = np.nan

In [61]:
ip['2010'].head()

0    236392800.0
1    355440000.0
2            NaN
3    236392800.0
4            NaN
Name: 2010, dtype: float64

In [62]:
import numpy as np
import pandas as pd

# Re-initialize ip DataFrame
ip = pd.read_csv("/content/Coffee_import.csv")

# Re-apply previous transformations
ip.drop(columns = ["1990"], inplace = True)

ip["Buy_again"] = np.where(ip["Total_import"]<830800000, False, True)

ip["Avg_import"] = ip["Total_import"]/30

ip = ip.rename(columns = {"Buy_again":"Repurchased"})

# Introduce NaNs for the first set of indices in '2010'
ip.loc[[0,3,5,7,23,2,6,12,24,30],'2010'] = np.nan

# Fill all NaNs in the DataFrame using the mean of '2010'
ip.fillna(ip['2010'].mean(), inplace =True)

# Reintroduce NaNs for the second set of indices in '2010' (to demonstrate interpolate)
ip.loc[[2,4,7,8,13,15,28], '2010'] = np.nan

# Correctly interpolate the '2010' column
ip['2010'] = ip['2010'].interpolate()

ip['2010'].head()

0    236392800.0
1    355440000.0
2    295916400.0
3    236392800.0
4    236392800.0
Name: 2010, dtype: float64

In [63]:
#interpolate not working,rectify

In [64]:
ip['2010'] = ip['2010'].interpolate()
ip['2010']

0     2.363928e+08
1     3.554400e+08
2     2.959164e+08
3     2.363928e+08
4     2.363928e+08
5     2.363928e+08
6     2.363928e+08
7     1.830752e+08
8     1.297576e+08
9     7.644000e+07
10    4.030200e+08
11    1.236180e+09
12    2.363928e+08
13    1.231464e+08
14    9.900000e+06
15    9.090000e+06
16    8.280000e+06
17    2.256000e+07
18    2.094000e+07
19    7.200000e+05
20    1.549800e+08
21    1.967400e+08
22    6.060000e+07
23    2.363928e+08
24    2.363928e+08
25    1.308000e+07
26    3.020400e+08
27    1.036200e+08
28    7.458000e+07
29    4.554000e+07
30    2.363928e+08
31    1.390800e+08
32    1.824000e+07
33    2.581200e+08
34    1.462680e+09
Name: 2010, dtype: float64